{% include 'header.html' %}

{% load static %}




<div class="background-image">
  <div class="container">
    <h1 class="welcome-text">{{ngo.ngo_name}}</h1>
    <h3 style="color: #ffffff; font-size: 30px; text-align: center;">{{ngo.ngo_description}}</h3>
  </div>
</div>




<div class="container">
  <div class="row mt-4">
    <div class="col-md-6 text-center" style="margin-top: 60px;">
      <img class="ngo-image" src="{{ngo.ngo_image.url}}" alt="{{ ngo.ngo_name }} Image">
    </div>
    <div class="col-md-6 details-container" style="margin-top: 60px;">
      <div class="details">  
        <p><strong>Address:</strong> {{ ngo.ngo_address }}</p>        
        <p><strong>Phone:</strong> {{ ngo.ngo_phone }}</p>
        <p><strong>Bank Name:</strong> {{ ngo.ngo_bank_name }}</p>
        <p><strong>Account Title:</strong> {{ ngo.ngo_account_title }}</p>
        <p><strong>Account Number:</strong> {{ ngo.ngo_account_no }}</p>
      </div>
    </div>
  </div>
</div>


<div style="background-color: rgba(0, 0, 0, 0.8); width: 100%; height: auto; margin-top: 80px; padding: 15px;"> 

  <div class="container mt-5 mb-5"> 

    <h3 style="color: white;" class="text-center"> CAMPAIGNS </h3>

    <div class="row mt-2">
  
      {% for campaign in campaigns %}
      
      <div class="col-md-4 mt-4">
        <div class="card h-100 mb-3" style="border-radius: 10px;">
          <img src="{{campaign.campaign_image.url}}" alt="People" class="card-img-top card-image-fixed" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title">{{campaign.campaign_name}}</h5>
            <p class="card-text">{{campaign.campaign_description}}</p>
          </div>
        </div>
      </div>
    
      {% endfor %}
    
    </div>
  
  </div>


  <div class="container mb-5" style="margin-top: 80px;"> 

    <h3 style="color: white;" class="text-center"> SPONSOR REQUESTS </h3>

    <div class="row mt-2">
  
      {% for request in requests %}
      
      <div class="col-md-4 mt-4">
        <div class="card h-100 mb-3" style="border-radius: 10px;">
          <img src="{{request.request_image.url}}" alt="request" class="card-img-top card-image-fixed" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title">{{request.request_name}}</h5>
            <p class="card-text">{{request.request_description}}</p>
          </div>
        </div>
      </div>
    
      {% endfor %}
    
    </div>
  
  </div>

</div>





<div class="container" style="margin-top: 80px; margin-bottom: 80px;">
  <h2 class="text-center">Join us in making the world a better place through your generous donations.</h2>
</div>











{% include 'footer.html' %}