{% include 'ngo_login_header.html' %}




<div class="container">

    <div class="alert alert-dark text-center" role="alert" style="margin-top: 50px; font-weight: bold; font-size: 20px;">
        Total Donation Amount: Rs. {{total_donation_amount}}
      </div>
    
    <table class="table table-striped" style="margin-top: 50px; ">    
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Donor Name</th>
            <th scope="col">Cause</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
            {% for donation in donations %}
            <tr>
                <th scope="row">{{donation.donation_id}}</th>
                <td>{{donation.Donor.donor_name}}</td>
                <td>{{donation.SponsorRequest.request_name}}</td>
                <td>Rs. {{donation.SponsorRequest.request_price}}</td>
                <td>{{donation.date_created}}</td>
            </tr>    
            {% endfor %}              
        </tbody>
    </table>

</div>





{% include 'footer.html' %}